<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
    
    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <br>
        <h1 class="display-4"><b>Welcome to <%= title %></b></h1>
        <br><br>
      </div>
      <div class="row">
        <br>
        <h4>Hello! I would like to introduce myself.</h4>
        <div class="column align-self-center">
          <br>
          <p>My name is Daniel Machado Justo da Silva, I am 35 years-old, and I am a Software Engineering student at Centennial College. I also have a bachelor Degree in Production Engineering.</p>
          <p>I was born and raised in Rio de Janeiro, Brazil, and I moved to Toronto, Canada 5 years ago. I first start coding after finishing my bachelor degree Java Script processing, trying to make fun animations as an hobby. Later on, I had to start working with Audit Command Language (ACL) as a Auditor and Cosultant from Deloitte.</p>
          <p>I have always been passionate for writing codes, and had a great affinity with thechonoly, so I decided to make it my profession because I love the challange that coding provides. </p>
          <p>Go to my <a href="" target="_blank">resume</a></p>
        </div>
        <div class="column align-self-center">
          <img src="\Assets\images\my_photo.jpeg" alt="my face photo" width="40%" height="40%">
        </div>
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>