
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
    
    <!-- Main Content -->
    <main class="container">
        <div class="row">
            <div class="">
                <h1><%= title %></h1>
                <br>
                <table>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Contact Number</th>
                        <th class="text-center">Email</Em></th>
                    </tr>
                    <!-- Repeatable template row -->
                    <tr>
                    <% for(let count = 0; count < BusinessList.length; count++) { %>
                        <td class="text-center"><%= BusinessList[count].contactName</td>
                        <td class="text-center"><%= BusinessList[count].contactNumber</td>
                        <td class="text-center"><%= BusinessList[count].email</td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

