<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
    
    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4"><b>Welcome to <%= title %></b></h1>
      </div>
      <div>
        <br>
        <p>Hello! My name is Daniel and welcome to my web portfolio.</p>
        <div>
          <p> Name: Daniel Machado Justo da Silva
          <p><i class="fas fa-phone-square-alt"></i> Phone: (647) 544-6128</p>
          <p><i class="fas fa-lg fa-at"></i> E-mail: dmachad7@my.centennialcollege.ca</p>
          <p><i class="fab fa-lg fa-git"></i> GitHub: <a href="https://github.com/DanielMJSilva" target="_blanck">https://github.com/DanielMJSilva</a></p>
        </div>
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>