
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
    
    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4"><b><%= title %></b></h1>
      </div>
      <div>
        <div class="container">
          <!-- Form from https://www.w3schools.com/howto/howto_css_contact_form.asp -->
          <form action="https://comp229-assignmet01.herokuapp.com/"> <!-- It goes inside form when funtionality is working: action="mailto:dmachad7@my.centennialcollege.ca" method="POST" -->
        
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
            <label for="country">Country</label>
            <select id="country" name="country">
              <option value="brazil">Brazil</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
        
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
            <input type="submit" value="Submit">
        
          </form>
        </div>
        <br>
        <p>I am looking forward to hearing from you.</p>
        <div>
          <p> Name: Daniel Machado Justo da Silva
          <p><i class="fas fa-phone-square-alt"></i> Phone: (647) 544-6128</p>
          <p><i class="fas fa-lg fa-at"></i> E-mail: dmachad7@my.centennialcollege.ca</p>
          <p><i class="fab fa-lg fa-git"></i> GitHub: <a href="https://github.com/DanielMJSilva" target="_blanck">https://github.com/DanielMJSilva</a></p>
          <div class="clear"></div>
        </div>
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

