<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
    
    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4"><b>Welcome to My<%= title %></b></h1>
      </div>
      <div>
        <h4>Projects:</h4>
        <dl>
          <dt>Expresso Online</dt>
          <dd>This project was a web application to a coffe shop. It was a requirement to conclude the Web Developer Course from CodeCademy. This application allows customers to place orders online. 
          <dd> I developed the back-end using JavaScript and Node.Js.</dd>
          <dt>Beat Mix</dt>
          <dd>This project was a web application to create a virtual beat mix. It was a requirement to conclude the Web Developer Course from CodeCademy. This application allows users to play beat mix online. 
          <dd> I developed the back-end using JavaScript and Node.Js.</dd>
          <dt>BMI Calculator</dt>
          This project was an application to make patient management for doctors and Nutritionist. It was a requirement to conclude Programming 2. This application allows users to keep track of patients' BMI and store personal informations. 
          <dd> It was a C# GUI based app using Window Forms.</dd>
        </dl>  
        </div>
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>